/* Import */
@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
/* Import - End */

/* reset básico */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body, p, a {
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
}

/* conteiner */
.container  {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 5px;
}
    @media (min-width: 1140px) {
        .container {
            max-width: 1140px;
            padding: 0;
        }
    }

/* linha */
.row {
    margin-left: -5px;
    margin-right: -5px;
}
    .row:before,
    .row:after {
        content: "";
        display: table;
    }
    .row:after {
        clear: both;
    }


/* colunas */
.col {
    display: inline-block;
    vertical-align: top;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-right: -4px;
    *zoom: 1;
    *display: inline;
}
/* Duas colunas */
    @media (min-width: 600px){
        .col-2 {
            width: 50%;
        }
    }

/* Tres colunas */
    @media (min-width: 920px){
        .col-3{
            width: 33.3333%;
        }
    }

/* estilo */
    .headerLogo {
        display: flex;
        align-items: center;
    }

    .headerLogo img {
        padding: 15px 0;
    }

    .headerContato {
        padding: 20px 20px;
        height: 153px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .headerContato .box {
        text-align: center;
        box-sizing: border-box;
        color: #132d50;
    }

    .headerContato .box .btn a {
        display: inline-block;
        width: 60%;
        min-width: max-content;
        margin-top: 10px;
        padding: 10px;
        border: solid 1px #59bea5;
        border-radius: 5px;
        text-decoration: none;
        color: #59bea5;
        background-color: #fff;
        transition: .5s;

        box-shadow: 0px 5px 2px -3px rgba(0,0,0,.2),
                    0px 10px 2px -6px rgba(0,0,0,.15),
                    0px 15px 2px -9px rgba(0,0,0,.1),
                    0px 20px 2px -12px rgba(0,0,0,.05);
    }

    .headerContato .box .btn a:hover {
        color: #fff;
        background-color: #59bea5;
        transform: scale(1.1);
    }

    .headerContato .box .btnEmail a {
        border: solid 1px #132d50;
        background-color: #fff;
        color: #132d50;
    }

    .headerContato .box .btnEmail a:hover {
        color: #fff;
        background-color: #4a96d6;
        border: solid 1px #4a96d6;
    }

    .headerContato .box .btn .fa {
        padding-right: 5px;
    }

    .navmenu {
        position: relative;
        background-color: #132d50;
        height: 60px;
        display: flex;
        align-items: center;
        z-index: 999;
        box-shadow: 0px 5px 2px -3px rgba(0,0,0,.2),
                    0px 10px 2px -6px rgba(0,0,0,.15),
                    0px 15px 2px -9px rgba(0,0,0,.1),
                    0px 20px 2px -12px rgba(0,0,0,.05);
     }

    .navmenu.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: rgba(19, 45, 80, .9);
        transition: 1s;
    }


    .navmenu .btn-mobile{
      color: white;
      font-size: 30px;
      display: none;
    }

    .navmenu ul {
        text-align: right;
    }

    .navmenu ul li {
        display: inline-block;
        margin-left: 20px;
        list-style: none;
    }

    .navmenu ul li:first-child {
        margin-right: 0;
        padding-right: 0;
    }
    .navmenu ul li a {
        position: relative;
        display: block;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        padding: 4px 10px;
        text-decoration: none;
        transition: 0.5s;
    }

    .navmenu ul li a:hover {
        transform: scale(1.3);
    }

    .navmenu ul li a::before {
        content: '';
        position: absolute;
        top: 0;  left: 0;
        width: 100%;
        height: 100%;
        background: #4a96d6;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 0.5s ;
        z-index: -1;
    }

    .navmenu ul li a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }










    .introducao {
        background: black;
    }

    .introducao > div{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .introducao img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
    }

    .introducao h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 4.4em;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      text-align: center;
      color: white;
      text-shadow: 2px 2px 7px rgba(0,0,0,.6);
    }

/* Slide confguration */
    .slide {
      position: relative;
      overflow: hidden;
      height: 400px;
    }

    .slide > * {
      width: 100%;
      position: absolute;
      opacity: 0;
      height: 100%;
    }

    .slide > * h2{
      margin-top: -0.7em;
      opacity: 0;
      transition: .9s;
    }

    .slide > .active {
      position: relative;
      opacity: 1;
      transition: .9s;
    }

    .slide > .active h2 {
      margin-top: 0;
      opacity: 1;
    }

    [data-button] {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -40px);
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, .5);
      border-radius: 10px;
    }

    [data-button] > span {
      display: inline-block;
      background-color: rgba(0, 0, 0, .5);
      width: 15px;
      height: 15px;
      border-radius: 50%;
      margin:  5px 15px;
      cursor: pointer;
      transition: all .5s;
      border: solid 2px #4a96d6;
    }

    [data-button] > span:hover {
      background-color: lightslategrey;
    }

    [data-button] > span.active {
      background-color: lightgrey;
    }












    .title {
        color: #132d50;
        font-family: 'Archivo Black', sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .title::after{
        content: '';
        display: block;
        width: 140px;
        height: 7px;
        margin: 10px auto;
        background: currentColor;
        border-radius: 1em;
    }

    .servicosTitle {
        margin-top: 100px;
        margin-bottom: 75px;
    }

    .servicosImg {
        position: relative;
        margin-bottom: 80px;
        background-color: #132d50;
        transition: .5s;
        box-shadow: 0px 5px 2px -3px rgba(0,0,0,.3),
                    0px 10px 2px -6px rgba(0,0,0,.2),
                    0px 15px 2px -9px rgba(0,0,0,.1),
                    0px 20px 2px -12px rgba(0,0,0,.05);
    }
    .servicosImg:hover{
        background-color: #132d50;
    }

    .servicosImg::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #4a96d6;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: transform .5s;
    }

    .servicosImg:hover::before {
        transform: scaleY(1);
    }

    .servicosImg .imgClass img {
        margin: 0 auto;
        padding-top: 2.5%;
        width: 95%;
        transition: .5s;
        filter: brightness(70%);
    }
    .servicosImg:hover .imgClass img {
        filter: brightness(100%);
    }

    .servicosImg .infoServicos {
        padding: 20px 0;
        position: relative;
    }

    .infoServicos h3{
        color: #9c9c9c;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 25px 0;
        padding: 0 15px 0;
        transition: 0.5s;
    }

    .infoServicos h3::after {
        position: absolute;
        top: 50%;
        left: 50%; transform: translateX(-50%);
        content: '';
        border: 18px solid transparent;
        border-top-color: #4a96d6;
        width: 0;
        height: 0;
        transition: 0.5s;
    }

    .servicosImg:hover .infoServicos h3::after {
        opacity: 0;
        visibility: hidden;
        transform: translate(-20px, -50%);
    }

    .servicosImg:hover .infoServicos h3 {
        color: #fff;
    }

    .servicosImg .infoServicos p{
        color: #9c9c9c;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        line-height: 22px;
        padding: 0 15px 30px 15px;
        transform: translateY(-40px);
        opacity: 0;
        transition: 0.5s;
        visibility: hidden;
    }

    .servicosImg:hover .infoServicos p{
        color: #fff;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .clientesTitle {
        margin-top: 100px;
        margin-bottom: 75px;
    }

    .clientes {
        background-color: #caced2;
        padding-bottom: 100px;
    }

    .clientes .block-clientes {
        margin-bottom: 20px;
    }

    .clientes .block-clientes img{
        width: 100%;
    }

    .footer {
        background-color: #132d50;
        padding: 70px 5px;
    }

    .footer img {
        padding-bottom: 20px;
    }

    .footerInfo {
        padding: 30px 0;
        padding: 30px 0;
    }
    .footerInfo p {
        font-family: 'Open Sans', sans-serif;
        color: #9c9c9c;
        font-size: 16px;
        line-height: 27px;
    }


    .copy {
        display: flex;
        align-items: center;
        background-color: #0a182b;
        padding: 20px;
        height: 150px;
    }
    .copyInfo {
        text-align: center;
        color: white;
    }

    .copyInfo p {
        font-size: 15px;
    }

    .copyInfo a {
        color: #4a96d6;
    }
    /* Botão de voltar ao topo */
        #top {
            background: #384957;
            width: 50px;
            height: 50px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            border-radius: 10%;

            box-shadow: 0px 4px 2px -2px rgba(0,0,0,.3),
                        0px 8px 2px -4px rgba(0,0,0,.2),
                        0px 12px 2px -6px rgba(0,0,0,.1);
        }

        #top svg {
            width: 50px;
            height: 50px;
            fill: #fff;
            transition: .5s;
        }

        #top svg:hover {
            transform: scale(1.2);
            fill: #4a96d6;
    }
    /* Botão de voltar ao topo */

    /* Responsivo */
    @media (max-width: 920px){

        [data-header]{
          display: none;
        }

        .navmenu {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
        }

        .headerLogo {
          margin-top: 60px;
          justify-content: center;
          padding: 15px 0;
        }
    }

    @media (max-width: 700px) {
        .navmenu {
            text-align: right;
        }
        .navmenu .btn-mobile{
            display: inline-block;
            color: white;
            font-size: 35px;
            cursor: pointer;
            margin-right: 15px;
            transition: .3s;
        }
        .navmenu .btn-mobile:hover{
            color: #4a96d6;
        }
        
        .navmenu .btn-mobile.active {
            transform: rotate(90deg);
            transition: transform .3s;
        }

        .navmenu .btn-mobile.active .fa-bars{
            display: none;
        }

        .navmenu .btn-mobile .fa-times{
            display: none;
        }

        .navmenu .btn-mobile.active .fa-times{
            display: block;
        }

        .navmenu ul {
            position: absolute;
            top: 60px;  left: 0;
            text-align: center;
            background-color: #132d50;
            height: 100vh;
            width: 100%;
            transform: translateX(-100%);
            transition: all .3s;
        }

        .navmenu ul.active {
            transform: translateX(0);
        }

        .navmenu ul li{
            display: block;
            margin: 40px 0 0;
        }

        .navmenu ul li a {
            font-size: 20px;
        }

        .title{
            font-size: 25px;
        }

        .introducao h2 {
          font-size: 2.3em;
        }

        .introducao img {
          max-width: 170%;
        }

        .slide {
          max-height: 250px;
        }

        .footer {
            text-align: center;
        }

        .footer img {
            margin: 0 auto;
            width: 60%;
        }
    }
